{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/6e976ef1ef.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confess</title>
</head>

<body>
    {% block content %}

    <div class="container">
        <h1>Dejale un mensaje secreto a {{nombre}} </h1>
        <div class="imgPerfil"></div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button class="sendButton" type="submit">
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </form>

        <a href="/">
            <button class="homeButton">
                Quiero recibir confesiones
            </button>
        </a>

    </div>


    {% endblock %}


</body>

</html>